@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

.roboto-regular{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  }
  .roboto-medium{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
  }
  .roboto-black{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
  }

  *{
    padding:0;
    margin:0;
}

