@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

$color_one: #161823;
// $color_two: #2f3247;
// $color_three: #737684;
// $green_back: #25514d;
// $grean_front: #00cd69;

.roboto-regular {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.roboto-medium {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.roboto-black {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

html,
body,
#app {
  height: 100%;
  overflow-y: auto;
  margin: 0 !important;
  background-color: $color_one;
}

.vs-input {
  border: none;
  border-radius: 8px;
  margin-top: 12px;
  margin-bottom: 12px;
  width: 100% !important;
}
.clickable {
  cursor: pointer;
}

//animation
@keyframes slideInFromTop {
  0% {
    transform: translateY(-52%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes colorToDanger {
  0% {
    border-color: red;
  }
  100% {
    border-color: rgba(183, 187, 213, 0.4);
  }
}

//loading
div.vs-loading {
  z-index: 0 !important;
}

//buttons
.btn-drop:active {
  transform: translateY(1px);
}
.btn-div {
  border: none;
  padding: 0px;
  background: transparent;
}

//interface / input

