.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 373px;
  margin: 0px auto;
  padding: 24px;
  background-color: $c1_dark;
  border-radius: 28px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
}

.modal-body {
  margin: 20px 0;
}

.modal-footer {
  width: 100%;
  height: 52px;
  display: flex;
  justify-content: space-between;
}

.modal-button {
  border: none;
  border-radius: 24px;
  color: white;
  font-size: 18px;
}
.modal-leave-button {
  width: 106px;
  background-color: $c2_dark;
}
.modal-accept-button {
  width: 202px;
  background-color: #195bff;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 510px){
  
.modal-container {
  width: 340px;
}
.modal-button {
  font-size: 16px;
}

.modal-accept-button {
  width: 162px;
}

}

@media screen and (max-width: 330px){
  
  .modal-container {
    width: 300px;
  }
  .modal-button {
    font-size: 16px;
  }
  .modal-leave-button {
    width: 80px;
  }
  .modal-accept-button {
    width: 152px;
  }
  
  }
